body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:600px;
}
#u121 {
  position:absolute;
  left:50px;
  top:50px;
  width:843px;
  height:600px;
}
#u122 {
  position:absolute;
  left:2px;
  top:292px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:171px;
  height:22px;
}
#u123p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:162px;
  height:2px;
}
#u123p000_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:174px;
  height:22px;
}
#u123p001 {
  position:absolute;
  left:145px;
  top:-9px;
  width:20px;
  height:20px;
}
#u123p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u123.compound {
  width:0px;
  height:0px;
}
#u123 {
  position:absolute;
  left:763px;
  top:204px;
  width:160px;
  height:2px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:147px;
}
#u125p000 {
  position:absolute;
  left:-68px;
  top:66px;
  width:138px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u125p000_img {
  position:absolute;
  left:-14px;
  top:-7px;
  width:158px;
  height:16px;
}
#u125p001 {
  position:absolute;
  left:-9px;
  top:-5px;
  width:20px;
  height:20px;
}
#u125p001_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:42px;
  height:34px;
}
#u125.compound {
  width:0px;
  height:0px;
}
#u125 {
  position:absolute;
  left:372px;
  top:38px;
  width:2px;
  height:135px;
}
#u126 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127 {
  position:absolute;
  left:323px;
  top:8px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:933px;
  top:195px;
  width:491px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
