body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1043px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:600px;
}
#u61 {
  position:absolute;
  left:50px;
  top:50px;
  width:843px;
  height:600px;
}
#u62 {
  position:absolute;
  left:2px;
  top:292px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:170px;
}
#u63p000 {
  position:absolute;
  left:-79px;
  top:78px;
  width:160px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u63p000_img {
  position:absolute;
  left:-14px;
  top:-6px;
  width:180px;
  height:14px;
}
#u63p001 {
  position:absolute;
  left:-9px;
  top:-5px;
  width:20px;
  height:20px;
}
#u63p001_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:40px;
  height:34px;
}
#u63.compound {
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:641px;
  top:36px;
  width:2px;
  height:158px;
}
#u64 {
  position:absolute;
  left:2px;
  top:71px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65 {
  position:absolute;
  left:592px;
  top:12px;
  width:451px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  white-space:nowrap;
}
