body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:600px;
}
#u131 {
  position:absolute;
  left:50px;
  top:50px;
  width:843px;
  height:600px;
}
#u132 {
  position:absolute;
  left:2px;
  top:292px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:346px;
  height:22px;
}
#u133p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:337px;
  height:2px;
}
#u133p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:348px;
  height:22px;
}
#u133p001 {
  position:absolute;
  left:320px;
  top:-9px;
  width:20px;
  height:20px;
}
#u133p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u133.compound {
  width:0px;
  height:0px;
}
#u133 {
  position:absolute;
  left:588px;
  top:238px;
  width:335px;
  height:2px;
}
#u134 {
  position:absolute;
  left:2px;
  top:-7px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u135 {
  position:absolute;
  left:933px;
  top:229px;
  width:288px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:346px;
  height:22px;
}
#u137p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:337px;
  height:2px;
}
#u137p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:348px;
  height:24px;
}
#u137p001 {
  position:absolute;
  left:320px;
  top:-9px;
  width:20px;
  height:20px;
}
#u137p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u137.compound {
  width:0px;
  height:0px;
}
#u137 {
  position:absolute;
  left:588px;
  top:451px;
  width:335px;
  height:2px;
}
#u138 {
  position:absolute;
  left:2px;
  top:-7px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:933px;
  top:442px;
  width:444px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:346px;
  height:22px;
}
#u141p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:337px;
  height:2px;
}
#u141p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:348px;
  height:22px;
}
#u141p001 {
  position:absolute;
  left:320px;
  top:-9px;
  width:20px;
  height:20px;
}
#u141p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u141.compound {
  width:0px;
  height:0px;
}
#u141 {
  position:absolute;
  left:588px;
  top:504px;
  width:335px;
  height:2px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-7px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u143 {
  position:absolute;
  left:933px;
  top:495px;
  width:326px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
